header {
    background: bisque;
    padding: 10px 0 15px 0;
}

.header-wrapper {
    margin: 0 auto;
    display: flex;
    max-width: 1140px;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper a {
    text-decoration: none;
}

.brand h1 a {
    color: black;
    font-weight: 700;
}

.brand h1 a:hover {
    color: blue;
}

nav a {
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    padding: 10px 20px;
    color: black;
    border: 1px solid transparent;
    border-radius: 5px;

}

nav a:hover {
    color: blue;
    text-decoration: underline;
    transition: .5s all ease-in-out;
}

*, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.food {
    max-width: 1140px;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.food-card {
    width: 33%;
}

.food-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.food-card p {
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.5;
    text-align: left;
}

.food-card h2 a{
    text-decoration: none;
    color: black;
}

.food-card h2 a:hover {
    color: blue;
    text-decoration: underline;
    transition: .5s all ease-in-out;
}

.food-card h2 {
    margin: 5px 0;
}


.recipe-wrapper {
    max-width: 800px;
    margin: 0 auto 50px  auto;
}

.recipe-wrapper h3{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin: 20px 0 10px 0;
}

.recipe-wrapper ol {
    margin: 10px 0 0 40px;
}

.recipe-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;

}

.recipe-wrapper h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 25px;
}