header {
    background: bisque;
    padding: 10px 0 15px 0;
}

.header-wrapper {
    margin: 0 auto;
    display: flex;
    max-width: 1140px;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper a {
    text-decoration: none;
}

nav a {
    font-size: 18px;
    font-weight: 500;
    box-sizing: border-box;
    padding: 10px 20px;
}

nav a:hover {
    background-color: white;
    color: black;
}

*, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.food {
    max-width: 1140px;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.food-card {
    width: 33%;
}

.food-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.food-card p {
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.5;
    text-align: left;
}

.food-card h2 a{
    text-decoration: none;
    color: black;
}

.food-card h2 {
    margin: 5px 0;
}

