header {
    background: bisque;
    padding: 10px 0 15px 0;
}

.header-wrapper {
    margin: 0 auto;
    display: flex;
    max-width: 1140px;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper a {
    text-decoration: none;
}

nav a {
    font-size: 18px;
    font-weight: 500;
    box-sizing: border-box;
    padding: 10px 20px;
}

nav a:hover {
    background-color: white;
    color: black;
}

*, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.food {
    max-width: 1140px;
    margin: 30px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.food-card {
    max-width: 400px;
    height: auot;
    text-align: center;

}

.food-card img{
    max-width: auto;
    height: 250px;
}